# CODEOWNERS — Played
# These users are automatically requested for review on MRs.

# Global owner
* @apk-v1

# Core architecture
/lib/core/ @apk-v1
/lib/app/ @apk-v1

# Features
/lib/features/vault/ @apk-v1
/lib/features/player/ @apk-v1

# CI/CD
/.gitlab-ci.yml @apk-v1
